{{#if (and labelText (not isPaper))}}
  <label>{{labelText}}</label>
{{/if}}

{{#if hasBlock}}
  {{yield (get object propertyPath) (action "update") disabled}}
{{else}}
  {{log type}}
  {{component type value=(get object propertyPath)
                  input=input
                  name=name
                  componentProperties=options
                  updated=(action "update")
                  onChange=(action "update")
                  label=labelText
                  disabled=disabled}}
{{/if}}
{{after}}
