{{#if cycle}}
  {{#if value}}
    {{railio-radio-button optionLabelPath=optionLabelPath
                          optionValuePath=optionValuePath
                          option=value
                          selection=value
                          updated=(action "selectItem")
                          inline=inline}}
  {{else}}
    {{railio-radio-button optionLabelPath=optionLabelPath
                          optionValuePath=optionValuePath
                          option=defaultEmpty
                          selection=defaultEmpty
                          updated=(action "selectItem")
                          classNames="radio-select__option--empty"
                          inline=inline}}
  {{/if}}
{{else}}
  <span class="radio-select__list">
  {{#each options as |option|}}
    {{railio-radio-button optionLabelPath=optionLabelPath
                          optionValuePath=optionValuePath
                          paper=true
                          option=option
                          selection=value
                          updated=(action "selectItem")
                          showIcon=showIcon
                          inline=inline}}
  {{/each}}
  </span>
{{/if}}
