{{form-field type="number-field"
             object=object
             propertyPath="number"
             after=object.number
             updated=(action "update")}}
<br/>
{{form-field type="text-field"
             object=object
             propertyPath="text"
             after=object.text
             updated=(action "update")}}
<br/>
{{#form-field object=object
              propertyPath="radioValue"
              updated=(action "update")
              disabled=disabled
              as |value updated disabled|}}
  {{radio-select options=optionList
                 value=value
                 updated=updated}}
{{/form-field}}
<br/>

{{form-field type="text-area"
             options=textAreaOptions
             object=object
             propertyPath="textArea"
             updated=(action "update")
             disabled=disabled}}
<br/>

{{form-field type="paper-input"
             object=object
             propertyPath="text"
             updated=(action "update")
             disabled=true
             label="lel"}}
<br/>


<div class="layout layout-sm-column">
{{paper-input class="flex-30" label="Name" value=object.text onChange=(action (mut object.text)) placeholder="Address" disabled=true}}
</div>
