{{#if multiSelect}}
  {{#if enableSelectAll}}
    {{check-box value=_selectAll
                updated=(action 'updateSelectAll')
                classNames="auto-complete__select-all"}}
    <span class="auto-complete__select-all-label">
      Select all ({{content.length}})
    </span>
  {{/if}}
{{/if}}

{{#component (if multiSelect 'power-select-multiple' 'power-select')
             options=groupedContent
             selected=value
             placeholder=prompt
             searchPlaceholder=prompt
             search=onQueryChange
             searchEnabled=searchEnabled
             searchField=optionLabelPath
             onkeydown=onKeyDownDropDown
             onchange=(action 'update')
             allowClear=allowClear
             disabled=disabled
             classNames=(concat "auto-complete "
                                (if multiSelect 'auto-complete--multiple'))
             as |item|}}
  <span class="auto-complete__item"
        ondblclick={{action 'doubleClickItem' multiSelect item}}>
    {{#if hasBlock}}
      {{yield item}}
    {{else}}
      {{get item optionLabelPath}}
    {{/if}}
  </span>
{{/component}}
