{{#if multiSelect}}
  {{#if enableSelectAll}}
    {{check-box value=_selectAll
                updated=(action 'updateSelectAll')
                classNames="auto-complete__select-all"}}
    <span class="auto-complete__select-all-label">
      Select all ({{content.length}})
    </span>
  {{/if}}
  {{#power-select-multiple options=groupedContent
                           selected=value
                           placeholder=prompt
                           search=onQueryChange
                           searchEnabled=searchEnabled
                           searchField=optionLabelPath
                           onchange=(action 'update')
                           allowClear=allowClear
                           classNames="auto-complete auto-complete--multiple"
                           as |item|}}
    {{#if hasBlock}}
      {{yield item}}
    {{else}}
      {{get item optionLabelPath}}
    {{/if}}
  {{/power-select-multiple}}
{{else}}
  {{#power-select options=groupedContent
                  selected=value
                  search=onQueryChange
                  searchEnabled=searchEnabled
                  searchField=optionLabelPath
                  searchPlaceholder=prompt
                  onchange=(action 'update')
                  allowClear=allowClear
                  classNames="auto-complete"
                  placeholder=prompt
                  as |item|}}
    {{#if hasBlock}}
      {{yield item}}
    {{else}}
      {{get item optionLabelPath}}
    {{/if}}
  {{/power-select}}
{{/if}}
