<div class="{{unless showIcon 'select-color'}}">
  {{#if showIcon}}
    {{#if checked}}
      {{fa-icon "circle"}}
    {{else}}
      {{fa-icon "circle-thin"}}
    {{/if}}
  {{/if}}
  <label>{{label}}</label>
</div>
